<div class="wrapper">
  <div class="container">
    <div class="row">

      <%= render 'shared/left' %>
      <div class="span9">
        <div class="content">
            <div class="module">
                <div class="module-head">
                    <h3>高级搜索</h3>
                </div>
                <div class="module-option clearfix" style="border-bottom: 0px solid #e5e5e5;">
                    <%= form_tag advanced_search_questions_path, method: 'GET', remote: true do %>
                      <div class="input-append pull-left">
                          <input type="text" class="span4" name="search_text" placeholder="搜索本站内容">
                          <input type="hidden" name="category_text" id="category_text_id">
                          <button type="submit" class="btn"><i class="icon-search"></i></button>
                      </div>
                    <% end %>
                    <div class="btn-group pull-right" data-toggle="buttons-radio">
                      <% @categorys.each do |category| %>
                        <button type="button" class="btn" date-val="<%= category.id %>"><%= category.category_name %></button>
                      <% end %>
                    </div>
                </div>
                <div class="module-body" style="padding-top: 0px;">
  								<div class="stream-list" style="margin-top: 0px;">
                    <% @questions.each do |question| %>
                      <div class="media stream">
                        <div class="media-body">
                          <div class="stream-headline">
                            <h5 class="stream-author" style="font-size: 15px;"><%= question.title %><small>作者:<%= question.author %>&nbsp;&nbsp;时间:<%= question.created_at %></small></h5>
                            <div class="stream-text"><%= question.content[0..100] %></div>
                          </div>
                          <div class="stream-options">
    												<a href="#" class="btn btn-small"><i class="icon-thumbs-up shaded"></i>Like</a>
    												<a href="#" class="btn btn-small"><i class="icon-reply shaded"></i>Reply</a>
    												<a href="#" class="btn btn-small"><i class="icon-retweet shaded"></i>Repost</a>
    											</div>
                        </div>
                      </div>
                    <% end %>
  									<div class="media stream load-more">
  										<a href="#">
  											<i class="icon-search shaded"></i>
  											输入内容搜索
  										</a>
  									</div>
  								</div><!--/.stream-list-->
                </div>
            </div>
        </div><!--/.content-->
      </div><!--/.span9-->

    </div>
  </div><!--/.container-->
</div><!--/.wrapper-->
<style>
  .stream strong {
    color: #eb592c;
  }
</style>
<!-- 分页代码 -->
<!-- <div class="pagination pagination-centered">
    <ul>
        <li><a href="#"><i class="icon-double-angle-left"></i></a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#"><i class="icon-double-angle-right"></i></a></li>
    </ul>
</div> -->
<script type="text/javascript">
  $(document).ready(function() {
    $('.btn-group .btn').click(function(){
        $("#category_text_id").val($(this).attr('date-val'));
      });
  } );
</script>
