<div class="wrapper">
  <div class="container">
    <div class="row">
      <%= render 'shared/left' %>

				<div class="span9">
					<div class="content">

						<div class="module message">
							<div class="module-head">
								<h3>全部问题</h3>
							</div>
							<div class="module-option clearfix">
								<div class="pull-left">
									Filter : &nbsp;
									<div class="btn-group">
										<button class="btn"><%= @category_name %></button>
										<button class="btn dropdown-toggle" data-toggle="dropdown">
											<span class="caret"></span>
										</button>
										<ul class="dropdown-menu">
                      <li><a href="/questions">全部</a></li>
                      <% @categorys.each do |category| %>
                        <li><a href="?category=<%= category.id %>"><%= category.category_name %></a></li>
                      <% end %>
										</ul>
									</div>
								</div>
								<div class="pull-right">
									<a href="<%= new_question_path %>" class="btn btn-primary"> 新建帮助</a>
								</div>
							</div>
							<div class="module-body table">

								<table class="table table-message">
									<tbody>
                    <% @questions.each do |question| %>
                      <tr class="task" date-href="<%= question_path(question) %>">
  											<td class="cell-title"><div><h4 style="margin-bottom:0px;margin-right:10px;"><%= question.title %></h4></div></td>
  											<td class="cell-status hidden-phone hidden-tablet"><b class="due"><%= question.category.try :category_name %></b></td>
  											<td class="cell-time align-right"><%= question.author %></td>
                      </tr>
                    <% end %>

									</tbody>
								</table>

							</div>
							<div class="module-foot">
							</div>
						</div>
					</div><!--/.content-->
				</div><!--/.span9-->
    </div>
  </div><!--/.container-->
</div><!--/.wrapper-->
<script type="text/javascript">
  $(document).ready(function(){
    $('.table-message tbody tr').click(function(){
        window.location.href = $(this).attr('date-href');
      });
  });
</script>
