<div class="wrapper">
  <div class="container">
    <div class="row">

      <%= render 'shared/left' %>

      <div class="span9">
        <div class="content">
          <div class="module">
              <div class="module-head">
                <h3>新建帮助文档</h3>
              </div>
              <div class="module-body">

                <% if @question && @question.errors.any? %>
                  <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Oh snap!</strong><%= @question.errors.full_messages[0] %>
                  </div>
                  <br />
                <% end %>

                <%= form_for @question, url: questions_path, html: { class: "form-horizontal row-fluid", id: "create_question_form" }  do |q| %>
                  <div class="control-group">
                    <label class="control-label" for="basicinput">Title</label>
                    <div class="controls">
                      <%= q.text_field  :title, placeholder: "Type something here...", class: "span8" %>
                      <!-- <span class="help-inline">Minimum 5 Characters</span> -->
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label" for="basicinput">Category</label>
                    <div class="controls">
                      <%= q.select :category_id, options_from_collection_for_select(@categorys, "id", "category_name"), options = { include_blank: true }, class: "span8", "data-placeholder": "Select here..",tabindex: "1" %>
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label" for="basicinput">Author</label>
                    <div class="controls">
                      <%= q.text_field  :author, placeholder: "input author...", class: "span8" %>
                      <!-- <span class="help-inline">Minimum 5 Characters</span -->
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label" for="basicinput">Content</label>
                    <div class="controls">
                      <%= q.text_area  :content, rows: 8, class: "span8", style: "display:none;" %>
                      <%= q.text_area  :content_html, rows: 8, class: "span8", style: "display:none;" %>
                      <div id="editor">
                      </div>
                    </div>

                  </div>

                  <div class="control-group">
                    <div class="controls">
                      <button type="submit" class="btn btn-primary">Submit Form</button>
                    </div>
                  </div>
                <% end %>
            </div>
          </div>

        </div><!--/.content-->
      </div><!--/.span9-->

    </div>
  </div><!--/.container-->
</div><!--/.wrapper-->


<!-- <link href="https://cdn.bootcss.com/quill/1.3.6/quill.snow.css" rel="stylesheet">

<div id="editor">
  <p>Hello World!</p>
  <p>Some initial <strong>bold</strong> text</p>
  <p><br></p>
</div>
<div style="padding: 15px;margin-top: 20px;">
  <span onclick="nihao();" class="btn">获取编辑器内容</span>
</div>
<div class="content">
</div>

<script src="https://cdn.bootcss.com/quill/1.3.6/quill.js"></script>

<script>
var quill = new Quill('#editor', {
    theme: 'snow'
  });
  function nihao() {
    let t = quill.container.firstChild.innerHTML
    console.log(t)
    $('.content').css('display', 'block')
    $('.content').text(t)
  }
</script>
 -->


<!-- 注意， 只需要引用 JS，无需引用任何 CSS ！！！-->
<script type="text/javascript">
    var E = window.wangEditor
    var editor = new E('#editor')
    var $text1 = $('#question_content')
    var $text1_html = $('#question_content_html')
    editor.customConfig.onchange = function (html) {
        // 监控变化，同步更新到 textarea
        $text1.val(editor.txt.text())
        $text1_html.val(html)
    }
    // 配置图片上传
    editor.customConfig.uploadImgServer = '/questions/upload_img'
    editor.customConfig.uploadFileName = 'fileimg'
    editor.create()
    // 初始化 textarea 的值
    $text1.val(editor.txt.text())
    $text1_html.val(editor.txt.html())
</script>
