<div class="wrapper">
  <div class="container">
    <div class="row">
      <%= render 'shared/left' %>
      <div class="span9">
				<div class="content">
					<div class="module">
						<div class="module-head">
							<h3>帮助</h3>
						</div>
						<div class="module-body" style="padding:0px;">
								<div class="media stream">
									<div class="media-body">
										<div class="stream-headline">
											<h5 class="stream-author"><%= @question.title %><small>作者：<%= @question.author %></small></h5>
											<div class="stream-text"><%= @question.content_html.html_safe %></div>
										</div><!--/.stream-headline-->
										<div class="stream-options">
                      <a href="javascript:void(0)" class="btn btn-small" data-remote="true"><i class="icon-eye-open shaded"></i><span id="view_count"><%= @question.view_count %></span></a>
											<a href="<%= praise_question_path(@question) %>" class="btn btn-small" data-remote="true"><i class="icon-thumbs-up shaded"></i><span id="praise_count"><%= @question.praise_count %></span></a>
											<a href="<%= rubbish_question_path(@question) %>" class="btn btn-small" data-remote="true"><i class="icon-thumbs-down shaded"></i><span id="rubbish_count"><%= @question.rubbish_count %></span></a>
										</div>
									</div>
								</div><!--/.media .stream-->
						</div><!--/.module-body-->
					</div><!--/.module-->
				</div><!--/.content-->
			</div>
    </div>
  </div><!--/.container-->
</div><!--/.wrapper-->
