  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>所有商品</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">所有商品</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <%= render 'golden_idea/application/flash' %>
      <!-- Default box -->
      <div class="card card-solid">
        <div class="card-header">
          <h3 class="card-title">
            <div class="text-center mt-2 mb-2">
              <%= form_tag nil, method: 'get', class: "form-inline form_contains", style: "display: contents;" do %>
                <input type="text" class="form-control" name="q[name_cont]" value="<%= params[:q]['name_cont']  if params[:q] %>" placeholder="Filter by name...">
                <button type="submit" class="btn btn-warning">Search<i class="icon-search"></i></button>
              <% end %>

              <div class="btn-group">
                <a href="<%= golden_idea_goods_path %>" class="btn btn-info" >All</a>
                <a href="/golden_idea/goods?q[score_lteq]=50" class="btn btn-info" >< 50</a>
                <a href="/golden_idea/goods?q[score_gteq]=50" class="btn btn-info" >> 50</a>
              </div>
            </div>
          </h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <div class="card-body pb-0">
          <div class="row">
            <% @goods.each do |good| %>
              <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                <div class="card bg-light d-flex flex-fill">
                  <div class="card-header text-muted border-bottom-0">
                    <%#= good.name %>&nbsp;
                  </div>
                  <div class="card-body pt-0">
                    <div class="row">
                      <div class="col-7">
                        <h2 class="lead"><b><%= good.name %></b></h2>
                        <p class="text-muted text-sm" title="<%= good.description %>"><b>About: </b> <%= truncate(good.description, length: 30) %> </p>
                        <ul class="ml-4 mb-0 fa-ul text-muted">
                          <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> 积分:<%= good.score %></li>
                          <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> 库存:<%= good.quantity %></li>
                        </ul>
                      </div>
                      <div class="col-5 text-center">
                        <img src="<%= good.avatar.url %>" alt="user-avatar" class="img-circle img-fluid">
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <div class="text-right">
                      <a href="#" class="btn btn-sm bg-teal">
                        <i class="fas fa-comments"></i>兑换
                      </a>
                      <a href="<%= exchange_view_golden_idea_good_path(good) %>" class="btn btn-sm bg-teal" data-toggle="modal" data-target="#modal-exchange" data-remote="<%= exchange_view_golden_idea_good_path(good) %>"><i class="icon-shopping-cart shaded"></i>兑换</a>
                      <a href="<%= golden_idea_good_path(good) %>" class="btn btn-sm btn-primary">
                        <i class="fas fa-user"></i> View Profile
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          <nav aria-label="Contacts Page Navigation">
            <%= will_paginate @goods, renderer: WillPaginate::ActionView::GoldenIdeaLinkRenderer %>
          </nav>
        </div>
        <!-- /.card-footer -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->



<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>




<!--兑换弹框-->
<%= render 'modal_exchange' %>

<style type="text/css" media="screen">
  .media .media-avatar img {
    border-radius: 15px;
  }
  .media .media-avatar {
    border-radius: 20px;
  }
  .form_contains {
    display: contents;
  }
</style>

<% content_for :custom_js_css do %>
  <!-- 历史个期 -->
  <script>
   $('#modal-exchange').on('hidden.bs.modal', function (e) {
     $(this).find('.modal-body').html('Loading...');
     $(this).removeData('bs.modal');
   }).on('show.bs.modal', function (e) {

     var button = $(e.relatedTarget);
     var modal = $(this);

     modal.find('.modal-body').load(button.data("remote"));
   });
  </script>
<% end %>
