<div class="wrapper wrapper-library">
  <div class="container">
    <div class="row">
      <%= render 'golden_idea/application/left' %>
      <div class="span9">
        <%= render "golden_idea/application/flash" %>
        <div class="content">
          <div class="module">
            <div class="module-head">
              <h3>所有商品</h3>
            </div>
            <div class="module-option clearfix">
              <%= form_tag nil, method: 'get' do %>
                <div class="input-append pull-left">
                  <input type="text" class="span3" name="q[name_cont]" value="<%= params[:q]['name_cont']  if params[:q] %>" placeholder="Filter by name...">
                  <button type="submit" class="btn"><i class="icon-search"></i></button>
                </div>
              <% end %>
              <div class="btn-group pull-right" data-toggle="buttons-radio">
                <a href="<%= golden_idea_goods_path %>" class="btn" >All</a>
                <a href="/golden_idea/goods?q[score_lteq]=50" class="btn" >< 50</a>
                <a href="/golden_idea/goods?q[score_gteq]=50" class="btn" >> 50</a>
              </div>
            </div>
            <div class="module-body">
              <% @goods.each_slice(2) do |good_a, good_b| %>
                <div class="row-fluid">
                  <div class="span6 good" id="good_<%= good_a.id %>" date-href="<%= golden_idea_good_path(good_a) %>">
                    <div class="media user">
                      <a class="media-avatar pull-left" href="#">
                        <%= image_tag(good_a.avatar.url, size: '100') %>
                      </a>
                      <div class="media-body">
                        <h3 class="media-title"><%= good_a.name %> </h3>
                        <p><small class="muted" title="<%= good_a.description %>">
                          <%= truncate(good_a.description, length: 30) %></small>
                        </p>
                        <div class="media-option btn-group shaded-icon">
                          <button class="btn btn-small">积分:<%= good_a.score %></button>
                          <button class="btn btn-small">库存:<%= good_a.quantity %></button>
                          <a href="<%= exchange_view_golden_idea_good_path(good_a) %>" class="btn" data-toggle="modal" data-target="#myModal" ><i class="icon-shopping-cart shaded"></i>兑换</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% if good_b.present? %>
                    <div class="span6 good" id="good_<%= good_b.id %>" date-href="<%= golden_idea_good_path(good_b) %>">
                      <div class="media user">
                        <a class="media-avatar pull-left" href="<%= golden_idea_good_path(good_b) %>">
                          <%= image_tag(good_b.avatar.url, size: '100') %>
                        </a>
                        <div class="media-body">
                          <h3 class="media-title"><%= good_b.name %> </h3>
                          <p><small class="muted" title="<%= good_b.description %>"><%= truncate(good_b.description, length: 30) %></small></p>
                          <div class="media-option btn-group shaded-icon">
                            <button class="btn btn-small">积分:<%= good_b.score %></button>
                            <button class="btn btn-small">库存:<%= good_b.quantity %></button>
                            <a href="<%= exchange_view_golden_idea_good_path(good_b) %>" class="btn" data-toggle="modal" data-target="#myModal" ><i class="icon-shopping-cart shaded"></i>兑换</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div><!--/.row-fluid-->
                <br>
              <% end %>
              <%= will_paginate @goods, renderer: WillPaginate::ActionView::BlogLinkRenderer %>
            </div>
          </div>
        </div><!--/.content-->
      </div><!--/.span9-->
    </div>
  </div> <!--/.container-->
</div>

<!--兑换弹框-->
<%= render 'modal_exchange' %>

<style type="text/css" media="screen">
  .media .media-avatar img {
    border-radius: 15px;
  }
  .media .media-avatar {
    border-radius: 20px;
  }
</style>
<script type="text/javascript">
  $(document).ready(function(){
    $('.good').click(function(event){
      var tar = event.target;
      var current = event.currentTarget;    //使用target感觉也没有太大区别，具体鉴定需要多去尝试不同的demo
      var tagName = tar.nodeName.toLowerCase();
      if (tagName != "a") {
        window.location.href = $(this).attr('date-href');
      }
      event.preventDefault();
    });
  });
</script>
