<div class="wrapper wrapper-library">
  <div class="container">
    <div class="row">
      <%= render 'golden_idea/application/left' %>
      <div class="span9">
        <%= render "golden_idea/application/flash" %>
        <div class="content">
          <div class="module">
            <div class="module-body">
              <div class="profile-head media">
                <a href="<%= @good.avatar.url %>" data-fancybox="gallery" class="media-cover pull-left fancybox">
                  <img src="<%= @good.avatar.url %>">
                </a>
                <div class="media-body">
                  <h4>
                    <%= @good.name %><small>库存:<%= @good.quantity %>, 需要积分:<%= @good.score %></small>
                  </h4>
                  <p class="profile-brief" title="<%= @good.description %>"><%= truncate(@good.description,length: 100) %></p>
                  <div class="profile-details muted">
                    <a href="<%= exchange_view_golden_idea_good_path %>" class="btn" data-toggle="modal" data-target="#myModal" ><i class="icon-shopping-cart shaded"></i>兑换</a>
                  </div>
                </div>
              </div>
              <ul class="profile-tab nav nav-tabs">
                <li class="active"><a href="#detial" data-toggle="tab">详情</a></li>
                <li><a href="#borrow_records" data-toggle="tab">兑换记录</a></li>
              </ul>
              <div class="profile-tab-content tab-content">
                <div class="tab-pane fade active in" id="detial">
                   <div class="module-body" style="">
                     <%= @good.content.html_safe %>
                  </div>
                </div>

                <div class="tab-pane fade" id="borrow_records">
                  <div class="module-body">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>兑换人</th>
                          <th>数量</th>
                          <th>时间</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @good.exchange_records.each do |exchange_record| %>
                          <tr>
                            <td><%= exchange_record.id %></td>
                            <td><%= exchange_record.employee.name %></td>
                            <td><%= exchange_record.quantity %></td>
                            <td><%= exchange_record.created_at %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div><!--/.span9-->

    </div>
  </div><!--/.container-->
</div><!--/.wrapper-->

<!--兑换弹框-->
<%= render 'modal_exchange' %>
