<% provide :active, "current_period" %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1><%= t 'menu.current_season_idea' %>-<%= GoldenIdea::Season.last.name %>(<%= @golden_ideas.count %>)</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/golden_idea">Home</a></li>
            <li class="breadcrumb-item active"><%= t 'menu.current_season_idea' %></li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Default box -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          <%= t 'table.collector' %>:
          <% if GoldenIdea::Season.last.collecters.present? %>
            <% GoldenIdea::Season.last.collecters.split(',').each do |u_id| %>
              <% user = Employee.find(u_id) %>
              <%= link_to user.name, user %>
            <% end %>
          <% end %>
          <div class="mt-2 mb-2">
            <% if signed_in? && current_employee.is_golden_idea_admin? %>
              <!--批量上传表单-->
              <%= form_for :import, url: import_preview_golden_idea_ideas_path, method: 'post', html:{ multipart: true, style: "display: none;" } do |f| %>
                <%= f.file_field :file, id: "upload-file-input" %>
                <%= f.submit '', id: "file-submit" %>
              <% end %>
              <%= link_to t('import'), "javascript:void(0);", class: "btn btn-sm btn-primary", id: "upload-file-btn", title: "可以先点导出获得导入模板" %>
              <%= link_to t('export'), current_season_index_golden_idea_ideas_path(format: :xlsx, params: request.query_parameters), class: "btn btn-sm btn-info" %>
            <% end %>
            <%= link_to t('new'), new_golden_idea_idea_path, class: "btn btn-sm btn-warning" %>
          </div>
        </h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
            <i class="fas fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
      <div class="card-body p-0">
        <table class="table table-striped projects">
            <thead>
              <tr>
                <th style="width: 5%"><%= t 'table.category' %></th>
                <th style="width: 15%"><%= t 'table.title' %></th>
                <th style="width: 5%"><%= t 'table.speaker' %></th>
                <th style="width: 10%"><%= t 'table.proposer' %></th>
                <th style="width: 5%"><%= t 'table.department' %></th>
                <th style="width: 10%" class="text-center"><%= t 'table.status' %></th>
                <th style="width: 35%"><%= t 'table.description' %></th>
                <th style="width: 5%"><%= t 'table.score' %></th>
                <th style="width: 10%"></th>
              </tr>
            </thead>
            <tbody>
              <% @golden_ideas.each do |golden_idea| %>
                <tr class="" style="background: <%= is_transfer?(golden_idea) %>;">
                    <td><%= golden_idea.category %></td>
                    <td><%= link_to golden_idea.title, golden_idea_idea_path(golden_idea) %></td>
                    <td><%= golden_idea.reporter.try :name %></td>
                    <td class="project_progress">
                      <% if golden_idea.proposers.present? %>
                        <% golden_idea.proposers.split(',').each do |u_id| %>
                          <% user = Employee.find(u_id) %>
                          <%= link_to user.name, user %>
                        <% end %>
                      <% end %>
                    </td>
                    <td><%= golden_idea.department %></td>
                    <td class="project-state">
                      <span class="badge badge-success"><%= golden_idea.status %></span>
                    </td>
                    <td title="<%= golden_idea.description %>" data-mtpis="<%= golden_idea.description %>"><%= truncate(golden_idea.description, length: 20) %></td>
                    <td><%= golden_idea.score %></td>
                    <td class="project-actions text-right">
                      <% if current_employee.is_golden_idea_admin? %>
                        <%= link_to t('edit'), edit_golden_idea_idea_path(golden_idea), class: "btn btn-info btn-sm" %>
                        <%= link_to t('delete'), golden_idea_idea_path(golden_idea), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger btn-sm" %>
                      <% elsif golden_idea.is_edit?(current_employee.id) %>
                        <%= link_to t('edit'), edit_golden_idea_idea_path(golden_idea), class: "btn btn-primary btn-sm" %></td>
                      <% end %>
                    </td>
                </tr>
              <% end %>
            </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
