<% provide :active, "current_period" %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1><%= t 'edit_idea' %></h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/golden_idea">Home</a></li>
            <li class="breadcrumb-item active"><%= t 'edit_idea' %></li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">

    <% if @golden_idea && @golden_idea.errors.any? %>
      <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <%= @golden_idea.errors.full_messages[0] %>
      </div>
    <% end %>

    <!-- Default box -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Edit Idea</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
            <i class="fas fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
      <%= form_for @golden_idea, url: golden_idea_idea_path(@golden_idea), html: { class: "form-horizontal", id: "idea_form", enctype: "multipart/form-data" }  do |f| %>
        <div class="card-body">
          <div class="form-group">
            <label for="inputEmail3"><%= t 'form.title' %></label>
            <%= f.text_field  :title, placeholder: t('form.idea_title'), class: "form-control" %>
          </div>
          <div class="form-group">
            <label for="inputEmail3"><%= t 'form.category' %></label>
            <%= f.select  :category, [['非技术类', '非技术类'],['技术类', '技术类']], {include_blank: false}, {placeholder: "", class: "form-control"} %>
          </div>
          <div class="form-group">
            <label for="inputEmail3"><%= t 'form.speaker' %></label>(<span class="help-inline"><%= t 'form.reporter_prompt' %></span>)
            <%= f.select  :reporter_id, Employee.all.collect { |e| [ e.name, e.id ] }, {include_blank: true}, {placeholder: "", class: "form-control select2"} %>
          </div>
          <div class="form-group">
            <label for="inputEmail3"><%= t 'form.proposer' %></label>
            <% selected = f.object.proposers.split(',') if f.object.proposers.present?  %>
            <%= f.select  :proposers, options_for_select(Employee.all.collect { |e| [ e.name, e.id ] }, :selected => selected), {:placeholder => "Please select"}, {:multiple => true, :class => 'form-control select2'} %>
          </div>
          <div class="form-group">
            <label for="inputEmail3"><%= t 'form.department' %></label>
            <%= f.text_field  :department, placeholder: "多部门用&连接", class: "form-control" %>
          </div>
          <div class="form-group">
            <label for="inputEmail3"><%= t 'form.is_involve_sop' %></label>
            <%= f.select  :is_involve_sop, [[ '是', 1], ['否', 0] ], {include_blank: true}, {placeholder: "Type something here...", class: "form-control"} %>
          </div>
          <div class="form-group">
            <label for="inputEmail3">SOP<%= t 'form.attachment' %></label>
            <div class="custom-file">
              <%= file_field_tag "sop_files[]", multiple: true, type: :file, class: "custom-file-input" %>
              <label class="custom-file-label" for="sop_files_">Choose file</label>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3"><%= t 'form.description' %></label>
            <%= f.text_area  :description, placeholder: t('form.description_prompt'), class: "form-control" %>
          </div>
          <div class="form-group">
            <label for="inputEmail3"><%= t 'form.attachment' %></label>
            <div class="custom-file">
              <%= file_field_tag "attachment_files[]", multiple: true, type: :file, class: "custom-file-input" %>
              <label class="custom-file-label" for="attachment_files_">Choose file</label>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3"><%= t 'form.status' %></label>
            <%= f.select  :status, [['进行中', '进行中'], ['暂停', '暂停'], ['已完成', '已完成'], ['转CI项目', '转CI项目'], ['终止', '终止']], {include_blank: false}, {placeholder: "Type something here...", class: "form-control"} %>
          </div>
          <div class="form-group">
            <label for="basicinput"><%= t 'form.detail' %></label>
            <%= f.text_area  :content, rows: 20, class: "span8", style: "display:none;" %>
            <div id="editor">
            </div>
          </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          <button type="submit" class="btn btn-primary"><%= t 'form.submit' %></button>
          <a href="<%= request.referer %>" class="btn btn-default float-right"><%= t 'form.back' %></a>
        </div>
      <% end %>
    </div>
    <!-- /.card -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<% content_for :custom_js_css do %>
  <script>
    $(document).ready(function() {
      $('.select2').select2();
    });
  </script>
  <!-- 注意， 只需要引用 JS，无需引用任何 CSS ！！！-->
  <script type="text/javascript">
      var E = window.wangEditor
      var editor = new E('#editor')
      var $text1 = $('#golden_idea_idea_content')
      editor.customConfig.onchange = function (html) {
          // 监控变化，同步更新到 textarea
          $text1.val(html);
      }
      // 配置图片上传
      editor.customConfig.uploadImgServer = '/questions/upload_img'
      editor.customConfig.uploadFileName = 'fileimg'
      editor.create()
      // 初始化 textarea 的值
      editor.txt.html($text1.val());
  </script>
  <script>
    $(function () {
      bsCustomFileInput.init();
    });
  </script>
  <style type="text/css" media="screen">
    .w-e-text-container {
      height: 500px;
    }
  </style>
<% end %>
