<div class="wrapper wrapper-library">
  <div class="container">
    <div class="row">
      <%= render 'golden_idea/application/left' %>
      <div class="span9">
        <div class="content">
          <div class="module">
              <div class="module-head">
                <h3><%= t 'edit_idea' %></h3>
              </div>
              <div class="module-body">
                <% if @golden_idea && @golden_idea.errors.any? %>
                  <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong></strong><%= @golden_idea.errors.full_messages[0] %>
                  </div>
                  <br />
                <% end %>
                <%= form_for @golden_idea, url: golden_idea_idea_path(@golden_idea), html: { class: "form-horizontal row-fluid", id: "season_form", enctype: "multipart/form-data" }  do |f| %>
                  <div class="control-group">
                    <label class="control-label" for="basicinput"><%= t 'form.title' %></label>
                    <div class="controls">
                      <%= f.text_field  :title, placeholder: t('form.idea_title'), class: "span8" %>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="basicinput"><%= t 'form.category' %></label>
                    <div class="controls">
                      <%= f.select  :category, [['非技术类', '非技术类'],['技术类', '技术类']], include_blank: false, placeholder: "Type something here...", class: "span8" %>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="basicinput"><%= t 'form.speaker' %></label>
                    <div class="controls">
                      <%#= f.select  :reporter_id, options_for_select(Employee.all.collect { |e| [ e.name, e.id ] }, ), {:placeholder => "Please select"}, {:class => 'span8 select2'} %>
                      <%= f.select  :reporter_id, Employee.all.collect { |e| [ e.name, e.id ] }, include_blank: true, placeholder: "Type something here...", class: "span8 select2" %>
                      <span class="help-inline"><%= t 'form.reporter_prompt' %></span>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="basicinput"><%= t 'form.proposer' %></label>
                    <div class="controls">
                      <% selected = f.object.proposers.split(',') if f.object.proposers.present?  %>
                      <%= f.select  :proposers, options_for_select(Employee.all.collect { |e| [ e.name, e.id ] }, :selected => selected), {:placeholder => "Please select"}, {:multiple => true, :class => 'span8 select2'} %>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="basicinput"><%= t 'form.department' %></label>
                    <div class="controls">
                      <%= f.text_field  :department, placeholder: t('form.department_prompt'), class: "span8" %>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="basicinput"><%= t 'form.is_involve_sop' %></label>
                    <div class="controls">
                      <%= f.select  :is_involve_sop, [[ '是', 1], ['否', 0] ], include_blank: true, placeholder: "Type something here...", class: "span8" %>
                      <%= file_field_tag "sop_files[]", multiple: true, type: :file %>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="basicinput"><%= t 'form.description' %></label>
                    <div class="controls">
                      <%= f.text_area  :description, placeholder: t('form.description_prompt'), class: "span8" %>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="basicinput"><%= t 'form.attachment' %></label>
                    <div class="controls">
                      <%= file_field_tag "attachment_files[]", multiple: true, type: :file %>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="basicinput"><%= t 'form.status' %></label>
                    <div class="controls">
                      <%= f.select  :status, [['进行中', '进行中'], ['暂停', '暂停'], ['已完成', '已完成'], ['转CI项目', '转CI项目'], ['终止', '终止']], include_blank: false, placeholder: "Type something here...", class: "span8" %>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="basicinput"><%= t 'form.detail' %></label>
                    <div class="controls">
                      <%= f.text_area  :content, rows: 20, class: "span8", style: "display:none;" %>
                      <div id="editor">
                      </div>
                    </div>
                  </div>

                  <div class="control-group">
                    <div class="controls">
                      <a href="<%= request.referer %>" class="btn btn-primary"><%= t 'form.back' %></a>
                      <button type="submit" class="btn btn-primary"><%= t 'form.submit' %></button>
                    </div>
                  </div>
                <% end %>
            </div>
          </div>

        </div><!--/.content-->
      </div><!--/.span9-->

    </div>
  </div><!--/.container-->
</div><!--/.wrapper-->
<script>
  $(document).ready(function() {
    $('.select2').select2();
  });
</script>
<div class="modal fade bs-example-modal-lg" id="preview" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal">x</button>
       <h3>预览</h3>
    </div>
    <div class="modal-content">
      <div id="preview_content" class="modal-body">
      </div>
    </div>
    <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>
   </div>
</div>
<!-- 注意， 只需要引用 JS，无需引用任何 CSS ！！！-->
<script type="text/javascript">
    var E = window.wangEditor
    var editor = new E('#editor')
    var $text1 = $('#golden_idea_idea_content')
    editor.customConfig.onchange = function (html) {
        // 监控变化，同步更新到 textarea
        $text1.val(html);
    }
    // 配置图片上传
    editor.customConfig.uploadImgServer = '/questions/upload_img'
    editor.customConfig.uploadFileName = 'fileimg'
    editor.create()
    E.fullscreen.init('#editor');
    // 初始化 textarea 的值
    editor.txt.html($text1.val());
</script>
<style type="text/css" media="screen">
  .w-e-text-container {
    height: 500px;
  }
  .modal-backdrop, .modal-backdrop.fade.in {
    background: #000000;
    opacity: .8;
    z-index: 10001;
  }
  .modal {
    z-index: 10002;
    width: 800px;
    margin-left: -400px;
  }
</style>
