<div class="wrapper wrapper-library">
  <div class="container">
    <div class="row">
      <div class="span12">
        <%= render "golden_idea/application/flash" %>
        <div class="content">
          <div class="module">
            <div class="module-head">
               <h3><%= t 'idea_preview' %></h3>
            </div>
            <div class="module-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th><%= t('table.category') %></th>
                    <th><%= t('table.title') %></th>
                    <th><%= t('season') %></th>
                    <th><%= t('table.proposer') %></th>
                    <th><%= t('table.department') %></th>
                    <th><%= t('table.status') %></th>
                    <th><%= t('table.score') %></th>
                  </tr>
                </thead>
                <tbody>
                  <% @ideas.each do |golden_idea| %>
                    <%
                      if golden_idea.new_record?
                        tag = "success"
                      elsif golden_idea.changes.any?
                        tag = "warning"
                      end
                    %>
                      <tr class="<%= tag %>">
                      <td><%= golden_idea.id %></td>
                      <td><%= golden_idea.category %></td>
                      <td><%= golden_idea.title %></td>
                      <td><%= golden_idea.season.try :name %></td>
                      <td>
                        <% if golden_idea.proposers.present? %>
                          <% golden_idea.proposers.split(',').each do |u_id| %>
                            <% user = Employee.find(u_id) %>
                            <%= link_to user.name, user %>
                          <% end %>
                        <% end %>
                      </td>
                      <td><%= golden_idea.department %></td>
                      <td><%= golden_idea.status %></td>
                      <td><%= golden_idea.score %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <p><strong>Please check the data is correct above.</strong><span style="background:#dff0d8;">New</span>/<span style="background:#fcf8e3;">Update</span> If everything is correct, click Import. <a class="btn btn-primary" href="/golden_idea/ideas/import?cache_key=<%=@ideas_cache_key%>">Import</a></p>
            </div>
          </div>
        </div><!--/.content-->
      </div><!--/.span9-->
    </div>
  </div><!--/.container-->
</div><!--/.wrapper-->



<style type="text/css">
  .modal-backdrop, .modal-backdrop.fade.in {
    background: #000000;
    opacity: .8
  }
  .form_contains {
    display: contents;
  }
  .span1_2 {
    width: 100px;
  }
</style>
