<div class="wrapper wrapper-library">
  <div class="container">
    <div class="row">
      <%= render 'golden_idea/application/left' %>
      <div class="span9">
        <%= render "golden_idea/application/flash" %>
        <div class="content">
          <div class="module">
            <div class="module-head">
               <h3>所有金点子</h3>
            </div>
            <div class="module-option clearfix">
              <div class="pull-left">
                <!--<div class="btn-group">
                  <button class="btn"><%#= params[:q].present? && params[:q][:season_id_eq].present? ? current_filter(params[:q][:season_id_eq]) : "筛选"  %></button>
                  <button class="btn dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="?">全部</a></li>
                    <%# GoldenIdea::Season.all.each do |season| %>
                      <li><a href="?q[season_id_eq]=<%#= season.id %>"><%#= season.name %></a></li>
                    <%# end %>
                  </ul>
                </div>-->
                <%= form_tag nil, method: 'get', class: "form-inline form_contains" do %>
                  <% selected = params[:q][:category_eq].split(',') if params[:q] && params[:q][:category_eq] %>
                  <%= select_tag  'q[category_eq]', options_for_select([['分类', ''], ['技术类', '技术类'], ['非技术类', '非技术类']], :selected => selected), {:class => 'span2'} %>

                  <input type="text" style="margin-bottom: 0;" class="span2" name="q[title_cont]" value='<%= params[:q]["title_cont"] if params[:q] %>' placeholder="标题">

                  <% selected = params[:q][:season_id_eq_any] if params[:q] && params[:q][:season_id_eq_any] %>
                  <%= select_tag  'q[season_id_eq_any]', options_for_select(GoldenIdea::Season.all.collect { |s| [ s.name, s.id ] }, :selected => selected), {:multiple => true, :class => 'span2 select2', 'data-placeholder' => '搜索哪一期'} %>

                  <% selected = params[:q][:proposer] if params[:q] && params[:q][:proposer] %>
                  <%= select_tag  'q[proposer]', options_for_select(Employee.all.collect { |e| [ e.name, e.id ] }, :selected => selected), {:multiple => true, :class => 'span2 select2', 'data-placeholder' => '提议人'} %>

                  <input type="text" style="margin-bottom: 0;" class="span2" name="q[department_cont]" value='<%= params[:q]["department_cont"] if params[:q] %>' placeholder="部门">
                  <input type="text" style="margin-bottom: 0;" class="span2" name="q[score_gt]" value='<%= params[:q]["score_gt"] if params[:q] %>' placeholder=">分数">

                  <button type="submit" name="commit" value="Search" class="btn btn-primary" data-disable-with="搜索...">搜索</button>
                <% end %>

              </div>
              <div class="pull-right">
                <!--批量上传表单-->
                <%= form_for :import, url: import_golden_idea_ideas_path, method: 'post', html:{ multipart: true, style: "display: none;" } do |f| %>
                  <%= f.file_field :file, id: "upload-file-input" %>
                  <%= f.submit '', id: "file-submit" %>
                <% end %>

                <%= link_to '批量导入', "javascript:void(0);", class: "btn btn-primary", id: "upload-file-btn", title: "可以先点导出获得导入模板" %>
              </div>
            </div>
            <div class="module-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th><%= sortable "id", "#" %></th>
                    <th><%= sortable "category", "分类" %></th>
                    <th><%= sortable "title", "标题" %></th>
                    <th><%= sortable "season_id", "期" %></th>
                    <th><%= sortable "proposer", "提议人" %></th>
                    <th><%= sortable "department", "部门" %></th>
                    <!--<th>内容描述</th>-->
                    <th><%= sortable "score", "得分" %></th>
                    <!--<th class="cell-btn align-right">操作</th>
                    <th class="cell-btn align-right"></th>-->
                  </tr>
                </thead>
                <tbody>
                  <% @golden_ideas.each do |golden_idea| %>
                    <tr>
                      <td><%= golden_idea.id %></td>
                      <td><%= golden_idea.category %></td>
                      <td><%= link_to golden_idea.title, golden_idea_idea_path(golden_idea) %></td>
                      <td><%= link_to golden_idea.season.name, golden_idea_season_path(golden_idea.season) %></td>
                      <td>
                        <% if golden_idea.proposers.present? %>
                          <% golden_idea.proposers.split(',').each do |u_id| %>
                            <% user = Employee.find(u_id) %>
                            <%= link_to user.name, user %>
                          <% end %>
                        <% end %>
                      </td>
                      <td><%= golden_idea.department %></td>
                      <!--<td><%#= golden_idea.description %></td>-->
                      <td><%= golden_idea.score %></td>
                      <!--
                      <% if golden_idea.is_complate? %>
                        <td class="cell-btn align-right"><%= link_to '查看', golden_idea_idea_path(golden_idea), class: "btn btn-mini btn-primary" %></td>
                        <td class="cell-btn align-right"></td>
                      <% elsif golden_idea.is_edit?(current_employee.id) %>
                        <td class="cell-btn align-right"><%= link_to '编辑', edit_golden_idea_idea_path(golden_idea), class: "btn btn-mini btn-primary" %></td>
                        <td class="cell-btn align-right"></td>
                      <% else %>
                        <td class="cell-btn align-right"><%= link_to '查看', golden_idea_idea_path(golden_idea), class: "btn btn-mini btn-primary" %></td>
                        <td class="cell-btn align-right"></td>
                      <% end %>
                      -->
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <%= will_paginate @golden_ideas, renderer: WillPaginate::ActionView::BlogLinkRenderer %>
            </div>
          </div>
        </div><!--/.content-->
      </div><!--/.span9-->
    </div>
  </div><!--/.container-->
</div><!--/.wrapper-->



<div class="modal fade production-task-model-config" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal">x</button>
       <h3>编辑</h3>
    </div>
    <div class="modal-content">
      <div class="modal-body">
        <div style="width:10px;height:10px;"></div>
      </div>
    </div>
    <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
       <button type="submit" class="btn btn-primary" onclick="document.getElementById('season_form').submit();">Submit</button>
    </div>
   </div>
</div>
<script>
  $("#myModal").on("hidden", function() {
    $(this).removeData("modal");
  });

  $('#closebtn').on('click', function(){
    $(".modal-body input[value='Save']").click();
    setTimeout("location.reload()",500);
  });
</script>

<style type="text/css">
  .modal-backdrop, .modal-backdrop.fade.in {
    background: #000000;
    opacity: .8
  }
  .form_contains {
    display: contents;
  }
</style>
<script>
  $("#upload-file-btn").click(function () {
    $("#upload-file-input").click();
  });
  $("#upload-file-input").on("change", function(){
    var size_in_megabytes = this.files[0].size/1024/1024;
    $("#file-submit").click();
  });
</script>
<script>
  $(document).ready(function() {
    $('.select2').select2();
  });
</script>
