<div class="wrapper wrapper-library">
  <div class="container">
    <div class="row">
      <%= render 'golden_idea/application/left' %>
      <div class="span9">
        <div class="content">
          <div class="module">
            <div class="module-head">
               <h3>我的兑换记录</h3>
            </div>
            <div class="module-body">
              <%= render "golden_idea/application/flash" %>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>兑换商品</th>
                    <th>数量</th>
                    <th>使用积分</th>
                    <th>时间</th>
                    <th>状态</th>
                  </tr>
                </thead>
                <tbody>
                  <% @exchange_records.each do |exchange_record| %>
                    <tr>
                      <td><%= link_to exchange_record.good.name, golden_idea_good_path(exchange_record.good) %></td>
                      <td><%= exchange_record.quantity %></td>
                      <td><%= exchange_record.used_score %></td>
                      <td><%= exchange_record.created_at %></td>
                      <td><%= exchange_record.status %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div><!--/.content-->
      </div><!--/.span9-->
    </div>
  </div><!--/.container-->
</div><!--/.wrapper-->
