<div class="wrapper wrapper-library">
  <div class="container">
    <div class="row">
      <%= render 'golden_idea/application/left' %>
      <div class="span9">
        <div class="content">
          <div class="module">
            <div class="module-head">
               <h3>我的兑换记录</h3>
            </div>
            <div class="module-body">
              <%= render "golden_idea/application/flash" %>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>兑换商品</th>
                    <th>数量</th>
                    <th>使用积分</th>
                    <th>时间</th>
                  </tr>
                </thead>
                <tbody>
                  <% @exchange_records.each do |exchange_record| %>
                    <tr>
                      <td><%= exchange_record.id %></td>
                      <td><%= exchange_record.good.name %></td>
                      <td><%= exchange_record.quantity %></td>
                      <td><%= exchange_record.used_score %></td>
                      <td><%= exchange_record.created_at %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div><!--/.content-->
      </div><!--/.span9-->
    </div>
  </div><!--/.container-->
</div><!--/.wrapper-->



<div class="modal fade production-task-model-config" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal">x</button>
       <h3>编辑</h3>
    </div>
    <div class="modal-content">
      <div class="modal-body">
        <div style="width:10px;height:10px;"></div>
      </div>
    </div>
    <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
       <button type="submit" class="btn btn-primary" onclick="document.getElementById('season_form').submit();">Submit</button>
    </div>
   </div>
</div>
<script>
  $("#myModal").on("hidden", function() {
    $(this).removeData("modal");
  });

  $('#closebtn').on('click', function(){
    $(".modal-body input[value='Save']").click();
    setTimeout("location.reload()",500);
  });
</script>

<style type="text/css">
.modal-backdrop, .modal-backdrop.fade.in {
  background: #000000;
  opacity: .8
}
</style>
