<div class="wrapper wrapper-library">
  <div class="container">
    <div class="row">
      <%= render 'golden_idea/application/left' %>
      <div class="span9">
        <div class="content">
          <div class="module">
            <div class="module-head">
               <h3><%= t 'menu.my_exchange_record' %></h3>
            </div>
            <div class="module-body">
              <%= render "golden_idea/application/flash" %>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>兑换商品</th>
                    <th><%= t 'table.count' %></th>
                    <th><%= t 'table.used_score' %></th>
                    <th><%= t 'table.date' %></th>
                    <th><%= t 'table.status' %></th>
                  </tr>
                </thead>
                <tbody>
                  <% @exchange_records.each do |exchange_record| %>
                    <tr>
                      <td><%= link_to exchange_record.good.name, golden_idea_good_path(exchange_record.good) %></td>
                      <td><%= exchange_record.quantity %></td>
                      <td><%= exchange_record.used_score %></td>
                      <td><%= exchange_record.created_at %></td>
                      <td><%= exchange_record.status %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div><!--/.content-->
      </div><!--/.span9-->
    </div>
  </div><!--/.container-->
</div><!--/.wrapper-->
