<div class="wrapper wrapper-library">
  <div class="container">
    <div class="row">
      <%= render 'library/left' %>
      <div class="span9">
        <div class="content">
          <div class="module">
            <div class="module-head">
              <h3>我的还书记录</h3>
            </div>
            <div class="module-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>书名</th>
                    <th>归还时间</th>
                    <th>状态</th>
                  </tr>
                </thead>
                <tbody>
                  <% @return_records.each do |return_record| %>
                    <tr>
                      <td><%= return_record.id %></td>
                      <td><%= link_to return_record.book_name, book_path(return_record.book) %></td>
                      <td><%= return_record.return_time %></td>
                      <td>已归还</td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <%= will_paginate @return_records, renderer: WillPaginate::ActionView::BlogLinkRenderer %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!--/.container-->
</div><!--/.wrapper-->

<style media="screen">
  .wrapper {
    min-height: 0;
  }
  .modal-backdrop, .modal-backdrop.fade.in {
    background: #000000;
    opacity: .8
  }
</style>
