<%
  rowno = ActiveRecord::Base.connection.execute("select rowno from (select id,score,(@rowno:=@rowno+1) as rowno from employees,(select (@rowno:=0)) b order by score desc) c where id = #{current_employee.id};")
  rowno = Integer(rowno.to_a[0][0])
%>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Profile</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">User Profile</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <%= render "golden_idea/application/flash" %>
    <!-- Default box -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">

          <!-- Profile Image -->
          <div class="card card-primary card-outline">
            <div class="card-body box-profile">
              <div class="text-center">
                <img class="profile-user-img img-fluid img-circle" src="<%= @employee.avatar %>" alt="<%= @employee.name %>">
              </div>

              <h3 class="profile-username text-center"><%= @employee.name %></h3>

              <ul class="list-group list-group-unbordered mb-3">
                <li class="list-group-item">
                  <b>排名</b> <a class="float-right"><%= rowno %></a>
                </li>
                <li class="list-group-item">
                  <b>总积分</b> <a class="float-right"><%= current_employee.score %></a>
                </li>
                <li class="list-group-item">
                  <b>可用积分</b> <a class="float-right"><%= current_employee.available_score %></a>
                </li>
              </ul>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="card">
            <div class="card-header p-2">
              <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link active" href="#golden_idea" data-toggle="tab">金点子</a></li>
                <li class="nav-item"><a class="nav-link" href="#exchange_record" data-toggle="tab">兑换记录</a></li>
              </ul>
            </div><!-- /.card-header -->
            <div class="card-body">
              <div class="tab-content">
                <div class="active tab-pane" id="golden_idea">
                  <table class="table table-striped projects">
                      <thead>
                        <tr>
                          <th>分类</th>
                          <th>标题</th>
                          <th>提议人</th>
                          <th>部门</th>
                          <th>内容描述</th>
                          <th>得分</th>
                          <th>操作</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @employee.golden_ideas.each do |golden_idea| %>
                          <tr>
                            <td><%= golden_idea.category %></td>
                            <td><%= link_to golden_idea.title, golden_idea_idea_path(golden_idea) %></td>
                            <td>
                              <% if golden_idea.proposers.present? %>
                                <% golden_idea.proposers.split(',').each do |u_id| %>
                                  <% user = Employee.find(u_id) %>
                                  <%= link_to user.name, user %>
                                <% end %>
                              <% end %>
                            </td>
                            <td><%= golden_idea.department %></td>
                            <td><%= golden_idea.description %></td>
                            <td><%= golden_idea.score %></td>
                            <% if golden_idea.is_edit?(@employee.id) %>
                              <td class="cell-btn align-right"><%= link_to '编辑', edit_golden_idea_idea_path(golden_idea), class: "btn btn-sm btn-primary" %></td>
                            <% end %>
                          </tr>
                        <% end %>
                      </tbody>
                  </table>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="exchange_record">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>兑换商品</th>
                        <th><%= t 'table.quantity' %></th>
                        <th>使用积分</th>
                        <th><%= t 'table.date' %></th>
                        <th><%= t 'table.status' %></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @employee.exchange_records.each do |exchange_record| %>
                        <tr>
                          <td><%= exchange_record.good.name %></td>
                          <td><%= exchange_record.quantity %></td>
                          <td><%= exchange_record.used_score %></td>
                          <td><%= exchange_record.created_at %></td>
                          <td><%= exchange_record.status %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
                <!-- /.tab-pane -->
              </div>
              <!-- /.tab-content -->
            </div><!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
