<%= form_for score_record, url: golden_idea_score_records_path, html: { class: "form-horizontal row-fluid", id: "score_record_form" }  do |f| %>
  <div class="card-body">
    <%= f.hidden_field  :idea_id %>
    <div class="form-group">
      <label for="exampleInputEmail1">Benefit</label>
      <%= f.text_field  :benefit, placeholder: "", class: "form-control" %>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Cost</label>
      <%= f.text_field  :cost, placeholder: "", class: "form-control" %>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Risks</label>
      <%= f.text_field  :risk, placeholder: "", class: "form-control" %>
    </div>
  </div>
  <!-- /.card-body -->
  <div class="card-footer">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
<% end %>
