<% provide :active, "score_admin" %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1><%= t 'score_records' %></h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/golden_idea">Home</a></li>
            <li class="breadcrumb-item active"><%= t 'score_records' %></li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <%= render "golden_idea/application/flash" %>
    <!-- Default box -->
    <div class="card">
      <div class="card-header">
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
            <i class="fas fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
      <div class="card-body p-0">
        <table class="table table-striped projects">
            <thead>
              <tr>
                <th><%= t 'golden_idea' %></th>
                <th><%= t 'table.judge' %></th>
                <th><%= t 'table.score' %></th>
                <th>Benefit</th>
                <th>Cost</th>
                <th>Risk</th>
                <th><%= t 'table.date' %></th>
              </tr>
            </thead>
            <tbody>
              <% @score_records.each do |score_record| %>
                <tr>
                  <td><%= link_to score_record.idea.title, golden_idea_idea_path(score_record.idea) %></td>
                  <td><%= link_to score_record.employee.name, employee_path(score_record.employee) %></td>
                  <td><%= score_record.score %></td>
                  <td><%= score_record.benefit %></td>
                  <td><%= score_record.cost %></td>
                  <td><%= score_record.risk %></td>
                  <td><%= time_tag score_record.created_at %></td>
                </tr>
              <% end %>
            </tbody>
        </table>
      </div>
      <!-- /.card-body -->
      <div class="card-footer">
        <nav aria-label="Contacts Page Navigation">
          <%= will_paginate @score_records, renderer: WillPaginate::ActionView::GoldenIdeaLinkRenderer %>
        </nav>
      </div>
      <!-- /.card-footer -->
    </div>
    <!-- /.card -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
