<div class="span3">
  <div class="sidebar">

    <ul class="widget widget-menu unstyled">
      <li class="active">
        <a href="<%= questions_path %>">
          <i class="menu-icon icon-dashboard"></i>
          常见问题
        </a>
      </li>
      <li>
        <a href="<%= new_question_path %>">
          <i class="menu-icon icon-bullhorn"></i>
          新建帮助
        </a>
      </li>
      <li>
        <a href="<%= advanced_search_questions_path %>">
          <i class="menu-icon icon-inbox"></i>
          高级搜索
        </a>
      </li>

      <li>
        <a href="<%= categorys_path %>">
          <i class="menu-icon icon-tasks"></i>
          问题分类
          <b class="label orange pull-right">19</b>
        </a>
      </li>
    </ul><!--/.widget-nav-->

    <!-- <ul class="widget widget-menu unstyled">
        <li><a href="<%= links_path %>"><i class="menu-icon icon-bold"></i> 链接管理 </a></li>
        <li><a href="<%= display_list_links_path %>"><i class="menu-icon icon-book"></i> 钉钉链接显示 </a></li>
        <li><a href="form.html"><i class="menu-icon icon-paste"></i>Forms </a></li>
        <li><a href="table.html"><i class="menu-icon icon-table"></i>Tables </a></li>
        <li><a href="charts.html"><i class="menu-icon icon-bar-chart"></i>Charts </a></li>
    </ul> --><!--/.widget-nav-->

    <ul class="widget widget-menu unstyled">
      <% Category.all.each do |category| %>
        <li>
          <a class="collapsed" data-toggle="collapse" href="#togglePages_<%= category.id %>">
            <i class="menu-icon icon-cog"></i>
            <i class="icon-chevron-down pull-right"></i>
            <i class="icon-chevron-up pull-right"></i>
            <%= category.category_name %>
          </a>
          <ul id="togglePages_<%= category.id %>" class="collapse unstyled">
            <% category.questions.limit(5).each do |question| %>
              <li><a href="<%= question_path(question) %>"><i class="icon-paste"></i><%= question.title %></a></li>
            <% end %>
          </ul>
        </li>
      <% end %>

      <!-- <li>
        <a href="#">
          <i class="menu-icon icon-signout"></i>
          Logout
        </a>
      </li> -->
    </ul>

  </div><!--/.sidebar-->
</div><!--/.span3-->
