<div class="wrapper wrapper-library">
  <div class="container">
    <div class="row">
      <%= render 'library/left' %>
      <div class="span9">
        <div class="content">
          <div class="module">
            <div class="module-head">
              <h3>所有图书</h3>
            </div>
            <div class="module-body">
              <%= render "library/flash" %>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>书名</th>
                    <th>作者</th>
                    <th>简介</th>
                    <th>分类</th>
                    <th>状态</th>
                  </tr>
                </thead>
                <tbody>
                  <% @books.each do |book| %>
                    <tr>
                      <td><%= book.id %></td>
                      <td><%= link_to book.name, book_path(book) %></td>
                      <td><%= book.author %></td>
                      <td><%= book.intro %></td>
                      <td><%= book.classification_name %></td>
                      <td><%= book.status %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <%= will_paginate @books, renderer: WillPaginate::ActionView::BlogLinkRenderer %>
            </div>
          </div>
        </div>
      </div>
      <div id="info" class="span9">

      </div>
    </div>
  </div><!--/.container-->
</div><!--/.wrapper-->
