<div class="wrapper wrapper-library">
  <div class="container">
    <div class="row">
      <%= render 'library/left' %>
      <div class="span9">
        <div class="content">
          <div class="module">
            <div class="module-body">
              <%= render "library/flash" %>
              <div class="profile-head media">
                <a href="#" class="media-cover pull-left">
                  <img src="<%= @book.img_url %>">
                </a>
                <div class="media-body">
                  <h4>
                    <%= @book.name %><small><%= @book.author %></small>
                  </h4>
                  <p class="profile-brief"><%= @book.intro %></p>
                  <div class="profile-details muted">
                    <% if @book.is_borrowed? %>
                      <a href="" class="btn" >借阅中...(<%= @book.borrower_name %>)</a>
                      <!-- <a href="#" class="btn"><i class="icon-envelope-alt shaded"></i>联系:xxxx</a> -->
                    <% else %>
                      <a href="<%= borrow_view_book_path %>" class="btn" data-toggle="modal" data-target="#myModal" ><i class="icon-plus shaded"></i>借阅</a>
                    <% end %>
                    <a href="<%= praise_book_path(@book) %>"  class="btn" data-remote="true"><i class="icon-thumbs-up shaded"></i>赞 <span id="praise_count"><%= @book.praise_count %></span></a>
                    <a href="<%= rubbish_book_path(@book) %>" class="btn" data-remote="true"><i class="icon-thumbs-down shaded"></i>踩 <span id="rubbish_count"><%= @book.rubbish_count %></span></a>
                  </div>
                </div>
              </div>
              <ul class="profile-tab nav nav-tabs">
                <li class="active"><a href="#detial" data-toggle="tab">详情</a></li>
                <li><a href="#chapters" data-toggle="tab">目录</a></li>
                <li><a href="#activity" data-toggle="tab">评论</a></li>
                <li><a href="#borrow_records" data-toggle="tab">借阅记录</a></li>
              </ul>
              <div class="profile-tab-content tab-content">
                <div class="tab-pane fade active in" id="detial">
                   <div class="module-body">
                    这里是详情
                    <br>
                  </div>
                </div>

                <div class="tab-pane fade" id="chapters">
                  <!-- <div class="module-option clearfix">
                    <form>
                      <div class="input-append pull-left">
                        <input type="text" class="span3" placeholder="Filter by name...">
                        <button type="submit" class="btn">
                          <i class="icon-search"></i>
                        </button>
                      </div>
                    </form>
                    <div class="btn-group pull-right" data-toggle="buttons-radio">
                      <button type="button" class="btn">All</button>
                      <button type="button" class="btn"> Male</button>
                      <button type="button" class="btn">Female</button>
                    </div>
                  </div> -->
                  <div class="module-body">
                    敬请期待
                    <!-- <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>章节</th>
                          <th>时间</th>
                          <th>开始时间</th>
                          <th>结束时间</th>
                          <th>哈哈</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>xxx</td>
                          <td>xxx</td>
                          <td>xxx</td>
                          <td>xxx</td>
                          <td>xxx</td>
                          <td>xxx</td>
                        </tr>
                      </tbody>
                    </table>
                    <br> -->
                    <!-- <div class="pagination pagination-centered">
                      <ul>
                        <li><a href="#"><i class="icon-double-angle-left"></i></a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#"><i class="icon-double-angle-right"></i></a></li>
                      </ul>
                    </div> -->
                  </div>
                </div>

                <div class="tab-pane fade" id="activity">
                  <div class="stream-list">
                    <% @book.comments.first(3).each do |comment| %>
                      <div class="media stream">
                        <a href="#" class="media-avatar medium pull-left">
                          <img src="<%= comment.employee_avatar %>">
                        </a>
                        <div class="media-body">
                          <div class="stream-headline">
                            <h5 class="stream-author">
                              <%= comment.employee_name %> <small><%= comment.comment_time %></small>
                            </h5>
                            <div class="stream-text">
                              <%= comment.body %>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>

                    <div class="media stream">
                      <a href="#" class="media-avatar medium pull-left">
                        <img src="<%= signed_in? ? current_employee.avatar : "" %>">
                      </a>
                      <div class="media-body">
                        <%= form_for [@book, @book.comments.build], remote: true, html: { class: "form-horizontal row-fluid" }  do |f| %>
                          <div class="stream-headline">
                            <%= f.hidden_field :employee_id %>
                            <%= f.text_area  :body, rows: 4, class: "span8"%>
                          </div>
                          <div class="stream-options">
                            <button type="submit" class="btn btn-small"><i class="icon-retweet shaded"></i>评论</button>
                          </div>
                        <% end %>
                      </div>
                    </div>
                    <div class="media stream load-more">
                      <a href="#"><i class="icon-refresh shaded"></i>Load more... </a>
                    </div>
                  </div>
                </div>

                <div class="tab-pane fade" id="borrow_records">
                  <div class="module-body">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>借书人</th>
                          <th>时间</th>
                          <th>开始时间</th>
                          <th>结束时间</th>
                          <th>实际借阅时间</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @book.borrow_records.each do |borrow_record| %>
                          <tr>
                            <td><%= borrow_record.id %></td>
                            <td><%= borrow_record.borrower_name %></td>
                            <td><%= borrow_record.borrow_length %></td>
                            <td><%= borrow_record.borrow_start %></td>
                            <td><%= borrow_record.borrow_end %></td>
                            <td><%= borrow_record.real_borrow_time %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div><!--/.span9-->

    </div>
  </div><!--/.container-->
</div><!--/.wrapper-->



<script type="text/javascript">
  $("#myModal").on("hidden", function() {
    $(this).removeData("modal");
  });

  $('#closebtn').on('click', function(){
    $(".modal-body input[value='Save']").click();
    setTimeout("location.reload()",500);
  });
</script>
<style media="screen">
  .wrapper {
    min-height: 0;
  }
  .modal-backdrop, .modal-backdrop.fade.in {
    background: #000000;
    opacity: .8
  }
</style>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal">x</button>
       <h3>借阅</h3>
    </div>
    <div class="modal-content">
      <div class="modal-body">
        <div style="width:10px;height:10px;"></div>
      </div>
    </div>
    <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
       <button type="submit" class="btn btn-primary" onclick="document.getElementById('create_book_form').submit();">Submit</button>
    </div>
   </div>
</div>
