<!DOCTYPE html>
<html>
  <head>
    <title>ChatRobot</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	  <link type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600' rel='stylesheet'>
  </head>

  <body class="dingwrapper">
      <div class="container">
        <div class="row">
          <% @links.each do |link| %>
            <div class="span4">
               <a href="javascript:void(0)" dinghref="<%= link.url_link %>" class="btn-box small span4"><i class="<%= link.icon %>"></i><b><%= link.title %></b></a>
            </div>
          <% end %>
        </div>
      </div><!--/.container-->
    <style type="text/css">
      .dingwrapper {
        background: #eee;
        padding: 30px 0
      }
    </style>
    <script src="https://g.alicdn.com/dingding/dingtalk-pc-api/2.7.0/index.js"></script>
    <script>
      $(".btn-box").click(function () {
        DingTalkPC.biz.util.openLink({
            url: $(this).attr("dinghref"),//要打开链接的地址
            onSuccess : function(result) {
              window.location.reload()
            },
            onFail : function() {
              window.location.reload()
            }
        });
      });
    </script>
  </body
</html>
