<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/golden_idea" class="brand-link">
    <img src="/images/duoli.png" alt="Golden Idea Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">Golden Idea System</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <% if signed_in? %>
        <div class="image">
          <img src="<%= current_employee.avatar %>" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="<%= employee_path(current_employee) %>" class="d-block"><%= current_employee.name %></a>
        </div>
      <% end %>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a href="<%= current_season_index_golden_idea_ideas_path %>" class="nav-link <%= active? 'current_period', yield(:active) %>">
            <i class="nav-icon fas fa-book"></i>
            <p>
              本期金点子
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="<%= golden_idea_seasons_path %>" class="nav-link <%= active? 'history', yield(:active) %>">
            <i class="nav-icon fas fa-tasks"></i>
            <p>
              历史各期
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="<%= golden_idea_ideas_path %>" class="nav-link <%= active? 'all_gis', yield(:active) %>">
            <i class="nav-icon fas fa-th"></i>
            <p>
              所有金点子
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="<%= golden_idea_goods_path %>" class="nav-link <%= active? 'point_exchange', yield(:active) %>">
            <i class="nav-icon fas fa-shopping-cart"></i>
            <p>
              积分兑换
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="<%= golden_idea_score_standard_path %>" class="nav-link <%= active? 'scoring_standard', yield(:active) %>">
            <i class="nav-icon fas fa-th-large"></i>
            <p>
              评分标准
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="<%= golden_idea_template_path %>" class="nav-link  <%= active? 'gi_template', yield(:active) %>">
            <i class="nav-icon fas fa-file"></i>
            <p>
              金点子模板
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="<%= golden_idea_suggests_path %>" class="nav-link <%= active? 'comment_suggestion', yield(:active) %>">
            <i class="nav-icon fas fa-comments"></i>
            <p>
              意见及建议
              <% count = GoldenIdea::Suggest.unreply_count %>
              <% if count > 0 %>
                <span class="right badge badge-danger"><%= count %></span>
              <% end %>
            </p>
          </a>
        </li>
        <% if signed_in? && current_employee.is_golden_idea_admin? %>
          <li class="nav-header"></li>
          <li class="nav-item">
            <a href="<%= index_admin_golden_idea_goods_path %>" class="nav-link <%= active? 'point_reward', yield(:active) %>">
              <i class="nav-icon fas fa-cogs"></i>
              <p>
                积分商品-管理
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="<%= golden_idea_exchange_records_path %>" class="nav-link <%= active? 'exchange_mgt', yield(:active) %>">
              <i class="nav-icon fas fa-exchange-alt"></i>
              <p>
                兑换-管理
                <span class="right badge badge-danger"><%= GoldenIdea::ExchangeRecord.where(status: '待兑换').count %></span>
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="<%= golden_idea_dashboard_path %>" class="nav-link <%= active? 'statistics', yield(:active) %>">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
                统计
              </p>
            </a>
          </li>
        <% end %>
        <li class="nav-header"></li>
        <% if signed_in? && current_employee.is_golden_idea_admin? %>
          <li class="nav-item <%= menu_open? 'admin', yield(:active) %>">
            <a href="#" class="nav-link <%= active_patent? 'admin', yield(:active) %>">
              <i class="nav-icon fas fa-cog"></i>
              <p>
                管理员
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="<%= golden_idea_good_exchange_records_path %>" class="nav-link <%= active? 'exchange_admin', yield(:active) %>">
                  <i class="far fa-circle nav-icon"></i>
                  <p>兑换记录-管理</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="<%= golden_idea_assign_score_records_path %>" class="nav-link <%= active? 'point_admin', yield(:active) %>">
                  <i class="far fa-circle nav-icon"></i>
                  <p>积分分配-管理</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="<%= golden_idea_user_requests_path %>" class="nav-link <%= active? 'log_admin', yield(:active) %>">
                  <i class="far fa-circle nav-icon"></i>
                  <p>操作日志-管理</p>
                </a>
              </li>
            </ul>
          </li>
        <% end %>
        <% if signed_in? %>
          <li class="nav-item">
            <a href="<%= golden_ideas_employee_path(current_employee) %>" class="nav-link <%= active? 'my_gi', yield(:active) %>">
              <i class="nav-icon fas fa-user"></i>
              <p>
                我的金点子
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="<%= score_employee_path(current_employee) %>" class="nav-link <%= active? 'my_point', yield(:active) %>">
              <i class="nav-icon fas fa-user"></i>
              <p>
                我的积分
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="<%= exchange_records_employee_path(current_employee) %>" class="nav-link <%= active? 'my_exchange_record', yield(:active) %>">
              <i class="nav-icon fas fa-user"></i>
              <p>
                我的兑换记录
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="<%= assign_score_records_employee_path(current_employee) %>" class="nav-link <%= active? 'my_point_list', yield(:active) %>">
              <i class="nav-icon fas fa-user"></i>
              <p>
                我的积分分配记录
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="<%= golden_idea_search_path %>" class="nav-link <%= active? 'search', yield(:active) %>">
              <i class="nav-icon fas fa-search"></i>
              <p>
                Search
              </p>
            </a>
          </li>
        <% end %>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
