<div class="span3">
  <div class="sidebar">

    <ul class="widget widget-menu unstyled">
      <li class="active">
        <a href="<%= current_season_index_golden_idea_ideas_path %>">
          <i class="menu-icon icon-book"></i>
          <%= t 'menu.current_season_idea' %>
        </a>
      </li>
      <li>
        <a href="<%= golden_idea_seasons_path %>">
          <i class="menu-icon icon-tasks"></i>
          <%= t 'menu.all_season' %>
        </a>
      </li>
      <li>
        <a href="<%= golden_idea_ideas_path %>">
          <i class="menu-icon icon-list"></i>
          <%= t 'menu.all_idea' %>
        </a>
      </li>
      <li>
        <a href="<%= golden_idea_goods_path %>">
          <i class="menu-icon icon-shopping-cart"></i>
          <%= t 'menu.point_exchange' %>
        </a>
      </li>
      <li>
        <a href="<%= golden_idea_score_standard_path %>">
          <i class="menu-icon icon-th-large"></i>
          <%= t 'menu.scoring_standard' %>
        </a>
      </li>
      <li>
        <a href="<%= golden_idea_template_path %>">
          <i class="menu-icon icon-file"></i>
          <%= t 'menu.gi_template' %>
        </a>
      </li>
      <li>
        <a href="<%= golden_idea_suggests_path %>">
          <i class="menu-icon icon-comments-alt"></i>
          <%= t 'menu.comment_suggestion' %>
          <% count = GoldenIdea::Suggest.unreply_count %>
          <% if count > 0 %>
            <b class="label orange pull-right"><%= count %></b>
          <% end %>
        </a>
      </li>
    </ul><!--/.widget-nav-->

    <ul class="widget widget-menu unstyled">
      <% if signed_in? && current_employee.is_golden_idea_admin? %>
        <li>
          <a href="<%= index_admin_golden_idea_goods_path %>">
            <i class="menu-icon icon-cogs"></i>
            <%= t 'menu.good_admin' %>
          </a>
        </li>
        <li>
          <a href="<%= golden_idea_exchange_records_path %>">
            <i class="menu-icon icon-exchange"></i>
            <%= t 'menu.exchange_admin' %>
            <b class="label orange pull-right"><%= GoldenIdea::ExchangeRecord.where(status: '待兑换').count %></b>
          </a>
        </li>
        <li>
          <a href="<%= golden_idea_dashboard_path %>">
            <i class="menu-icon icon-bar-chart"></i>
            <%= t 'menu.statistics' %>
          </a>
        </li>
        <!--<li>
          <a href="<%#= score_lists_employees_path %>">
            <i class="menu-icon icon-tasks"></i>
            员工积分-管理
          </a>
        </li>-->
      <% end %>
    </ul><!--/.widget-nav-->

    <ul class="widget widget-menu unstyled">
      <% if signed_in? && current_employee.is_golden_idea_admin? %>
        <li>
          <a class="collapsed" data-toggle="collapse" href="#togglePages_admin">
            <i class="menu-icon icon-cog"></i>
            <i class="icon-chevron-down pull-right"></i>
            <i class="icon-chevron-up pull-right"></i>
            <%= t 'menu.administrator' %>
          </a>
          <ul id="togglePages_admin" class="collapse unstyled">
            <li><a href="<%= golden_idea_good_exchange_records_path %>"><%= t 'menu.exchange_record' %></a></li>
            <li><a href="<%= golden_idea_assign_score_records_path %>"><%= t 'menu.reward_point_record' %></a></li>
            <li><a href="<%= golden_idea_user_requests_path %>"><%= t 'menu.log' %></a></li>
          </ul>
        </li>
      <% end %>
      <% if signed_in? %>
        <li><a href="<%= golden_ideas_employee_path(current_employee) %>"><i class="menu-icon icon-user"></i><%= t 'menu.my_idea' %></a></li>
        <li><a href="<%= exchange_records_employee_path(current_employee) %>"><i class="menu-icon icon-user"></i><%= t 'menu.my_exchange_record' %></a></li>
        <li><a href="<%= assign_score_records_employee_path(current_employee) %>"><i class="menu-icon icon-user"></i><%= t 'menu.my_point_list' %></a></li>
      <% end %>
    </ul>

  </div><!--/.sidebar-->
</div><!--/.span3-->
