<div class="wrapper wrapper-library">
  <div class="container">
    <div class="row">
      <%= render 'golden_idea/application/left' %>
      <div class="span9">
        <div class="content">
          <div class="module">
            <div class="module-head">
               <h3><%= t 'reward_point_record' %></h3>
            </div>
            <div class="module-body">
              <%= render "golden_idea/application/flash" %>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th><%= t 'golden_idea' %></th>
                    <th><%= t 'table.proposer' %></th>
                    <th><%= t 'reward_point' %></th>
                    <th><%= t 'table.date' %></th>
                  </tr>
                </thead>
                <tbody>
                  <% @assign_score_records.each do |assign_score_record| %>
                    <tr>
                      <td><%= link_to assign_score_record.idea.title, golden_idea_idea_path(assign_score_record.idea) %></td>
                      <td><%= link_to assign_score_record.employee.name, employee_path(assign_score_record.employee) %></td>
                      <td><%= assign_score_record.score %></td>
                      <td><%= assign_score_record.created_at %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <%= will_paginate @assign_score_records, renderer: WillPaginate::ActionView::BlogLinkRenderer %>
            </div>
          </div>
        </div><!--/.content-->
      </div><!--/.span9-->
    </div>
  </div><!--/.container-->
</div><!--/.wrapper-->
