<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1><%= t :employee_point_rank %></h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/golden_idea">Home</a></li>
            <li class="breadcrumb-item active"><%= t :employee_point_rank %></li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <%= render "golden_idea/application/flash" %>
    <!-- Default box -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          <div class="text-center mt-2 mb-2">
            <%= form_tag nil, method: 'get', class: "form-inline form_contains" do %>
              <input type="text" style="margin-bottom: 0;" class="form-control" name="q[name_cont]" value='<%= params[:q]["name_cont"] if params[:q] %>' placeholder="<%= t 'table.name' %>">

              <button type="submit" name="commit" value="Search" class="btn btn-sm btn-primary" data-disable-with="<%= t :search %>..."><%= t :search %></button>
            <% end %>
          </div>
        </h3>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
            <i class="fas fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
      <div class="card-body p-0">
        <table class="table table-striped projects">
            <thead>
              <tr>
                <th><%= t 'table.name' %></th>
                <th><%= t 'table.ranking' %></th>
                <th><%= t 'table.point' %></th>
                <th><%= t 'table.idea_count' %></th>
                <th><%= t 'table.department' %></th>
              </tr>
            </thead>
            <tbody>
              <%
                name = params[:q][:name_cont] if params && params[:q]
                results = ActiveRecord::Base.connection.execute("select * from (select id,name,score,(@rowno:=@rowno+1) as rowno, is_leave from employees,(select (@rowno:=0)) b order by score desc) as t where name like \"%#{name}%\";")
              %>
              <% results.each do |iid, name, score, rowno, is_leave| %>
                <tr>
                  <% if is_leave == 1 %>
                    <td><%= name %></td>
                  <% else %>
                    <td><%= link_to name, employee_path(iid) %></td>
                  <% end %>
                  <td><%= Integer(rowno) %></td>
                  <td><%= score %></td>
                  <td><%= Employee.find(iid).golden_ideas.count %></td>
                  <td><%= Employee.find(iid).department.try :name%></td>
                </tr>
              <% end %>
            </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<style type="text/css">
  .form_contains {
    display: contents;
  }
</style>
