<div class="wrapper wrapper-library">
  <div class="container">
    <div class="row">
      <%= render 'golden_idea/application/left' %>
      <div class="span9">
        <div class="content">
          <div class="module">
            <div class="module-head">
               <h3>员工积分排名</h3>
            </div>
            <div class="module-option clearfix">
              <div class="pull-left">
                <%= form_tag nil, method: 'get', class: "form-inline form_contains" do %>
                  <input type="text" style="margin-bottom: 0;" class="span1_2" name="q[name_cont]" value='<%= params[:q]["name_cont"] if params[:q] %>' placeholder="姓名">
                  <button type="submit" name="commit" value="Search" class="btn btn-primary" data-disable-with="搜索...">搜索</button>
                <% end %>
              </div>
            </div>
            <div class="module-body">
              <%= render "golden_idea/application/flash" %>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>姓名</th>
                    <th>排名</th>
                    <th>积分</th>
                    <th>金点子个数</th>
                    <th>部门</th>
                  </tr>
                </thead>
                <tbody>
                  <%
                    name = params[:q][:name_cont] if params && params[:q]
                    results = ActiveRecord::Base.connection.execute("select * from (select id,name,score,(@rowno:=@rowno+1) as rowno, is_leave from employees,(select (@rowno:=0)) b order by score desc) as t where name like \"%#{name}%\";")
                  %>
                  <% results.each do |iid, name, score, rowno, is_leave| %>
                    <tr>
                      <% if is_leave == 1 %>
                        <td><%= name %></td>
                      <% else %>
                        <td><%= link_to name, employee_path(iid) %></td>
                      <% end %>
                      <td><%= rowno %></td>
                      <td><%= score %></td>
                      <td><%= Employee.find(iid).golden_ideas.count %></td>
                      <td><%= Employee.find(iid).department.try :name%></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div><!--/.content-->
      </div><!--/.span9-->
    </div>
  </div><!--/.container-->
</div><!--/.wrapper-->
