<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1><%= t :idea_point_ranking %></h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/golden_idea">Home</a></li>
            <li class="breadcrumb-item active"><%= t :idea_point_ranking %></li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <%= render "golden_idea/application/flash" %>
    <!-- Default box -->
    <div class="card">
      <div class="card-header">
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
            <i class="fas fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
      <div class="card-body p-0">
        <table class="table table-striped projects">
            <thead>
              <tr>
                <th><%= t 'table.title' %></th>
                <th><%= t 'table.category' %></th>
                <th><%= t 'table.proposer' %></th>
                <th><%= t 'table.department' %></th>
                <th><%= t 'table.description' %></th>
                <th><%= t 'table.score' %></th>
              </tr>
            </thead>
            <tbody>
              <% GoldenIdea::Idea.top_5.each do |golden_idea| %>
                <tr>
                  <td><%= link_to golden_idea.title, golden_idea_idea_path(golden_idea) %></td>
                  <td><%= golden_idea.category %></td>
                  <td>
                    <% if golden_idea.proposers.present? %>
                      <% golden_idea.proposers.split(',').each do |u_id| %>
                        <% user = Employee.find(u_id) %>
                        <%= link_to user.name, user %>
                      <% end %>
                    <% end %>
                  </td>
                  <td><%= golden_idea.department %></td>
                  <td><%= golden_idea.description %></td>
                  <td><%= golden_idea.score%></td>
                </tr>
              <% end %>
            </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
