<% provide :active, "comment_suggestion" %>
<div class="modal fade" id="modal-suggest" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%= t 'menu.comment_suggestion' %></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <p>One fine body…</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="document.getElementById('suggest_form').submit();">Save changes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1><%= t 'menu.comment_suggestion' %></h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/golden_idea">Home</a></li>
            <li class="breadcrumb-item active"><%= t 'menu.comment_suggestion' %></li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <%= render 'golden_idea/application/flash' %>
    <!-- Default box -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          <div class="text-center mt-2 mb-2">
            <% if signed_in? && current_employee.is_golden_idea_admin? %>
              <div class="module-option clearfix">
                  <div class="pull-right">
                    <%= link_to t('ask_question'), new_golden_idea_suggest_path, class: "btn btn-sm btn-primary", "data-toggle"=>"modal", "data-target"=>"#modal-suggest", "data-remote"=>"#{new_golden_idea_suggest_path}" %>
                  </div>
              </div>
            <% end %>
          </div>
        </h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
            <i class="fas fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
      <div class="card-body p-0">
        <table class="table table-striped projects">
            <thead>
              <tr>
                <th width="10%"><%= t 'table.questioner' %></th>
                <th width="70%"><%= t 'table.description' %></th>
                <th width="8%"><%= t 'table.reply' %></th>
                <th><%= t 'table.action' %></th>
              </tr>
            </thead>
            <tbody>
              <% @suggests.each do |suggest| %>
                <tr>
                  <td><%= suggest.employee_name %></td>
                  <td><%= link_to suggest.content, golden_idea_suggest_path(suggest) %></td>
                  <td><%= link_to suggest.replys.count, golden_idea_suggest_path(suggest) %></td>
                  <td class="cell-btn align-right">
                    <%= link_to t('edit'), edit_golden_idea_suggest_path(suggest), class: "btn btn-sm btn-primary", "data-toggle"=>"modal", "data-target"=>"#modal-suggest", "data-remote"=>"#{edit_golden_idea_suggest_path(suggest)}" %>
                  <% if signed_in? && current_employee.is_golden_idea_admin? %>
                    <%= link_to t('table.reply'), reply_golden_idea_suggest_path(suggest), class: "btn btn-sm btn-warning","data-toggle"=>"modal", "data-target"=>"#modal-suggest", "data-remote"=>"#{reply_golden_idea_suggest_path(suggest)}" %>
                  <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
        </table>
      </div>
      <!-- /.card-body -->
      <div class="card-footer clearfix">
        <%= will_paginate @suggests, renderer: WillPaginate::ActionView::GoldenIdeaLinkRenderer %>
      </div>
    </div>
    <!-- /.card -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<% content_for :custom_js_css do %>
  <script>
   $('#modal-suggest').on('hidden.bs.modal', function (e) {
     $(this).find('.modal-body').html('Loading...');
     $(this).removeData('bs.modal');
   }).on('show.bs.modal', function (e) {

     var button = $(e.relatedTarget);
     var modal = $(this);

     modal.find('.modal-body').load(button.data("remote"));
   });
  </script>
<% end %>
