<% provide :active, "exchange_mgt" %>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>待兑换</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/golden_idea">Home</a></li>
            <li class="breadcrumb-item active">待兑换</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <%= render "golden_idea/application/flash" %>
    <!-- Default box -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          <div class="text-center mt-2 mb-2">
            <% if signed_in? && current_employee.is_golden_idea_admin? %>
              <div class="module-option clearfix">
                  <div class="pull-right">
                    <!--批量上传表单-->
                    <%= form_for :import, url: import_preview_golden_idea_ideas_path, method: 'post', html:{ multipart: true, style: "display: none;" } do |f| %>
                      <%= f.file_field :file, id: "upload-file-input" %>
                      <%= f.submit '', id: "file-submit" %>
                    <% end %>

                    <%= link_to '导入', "javascript:void(0);", class: "btn btn-sm btn-primary", id: "upload-file-btn11", title: "点击完成应该会更方便" %>
                    <%#= link_to '模板', "/ideas.xlsx", class: "btn btn-info", title: "下载模板" %>
                    <%= link_to '导出', golden_idea_exchange_records_path(format: :xlsx, params: request.query_parameters), class: "btn btn-sm btn-info" %>
                  </div>
              </div>
            <% end %>
          </div>
        </h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
            <i class="fas fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
      <div class="card-body p-0">
        <table class="table table-striped projects">
            <thead>
              <tr>
                <th>兑换商品</th>
                <th>兑换人</th>
                <th>数量</th>
                <th>使用积分</th>
                <th>时间</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <% @exchange_records.each do |exchange_record| %>
                <tr>
                  <td><%= link_to exchange_record.good.name, golden_idea_good_path(exchange_record.good) %></td>
                  <td><%= link_to exchange_record.employee.name, employee_path(exchange_record.employee) %></td>
                  <td><%= exchange_record.quantity %></td>
                  <td><%= exchange_record.used_score %></td>
                  <td><%= exchange_record.created_at %></td>
                  <td class="cell-btn align-right"><%= link_to '完成', complete_golden_idea_exchange_record_path(exchange_record), class: "btn btn-sm btn-primary" %></td>
                </tr>
              <% end %>
            </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<% content_for :custom_js_css do %>
  <script>
    $("#upload-file-btn").click(function () {
      $("#upload-file-input").click();
    });
    $("#upload-file-input").on("change", function(){
      var size_in_megabytes = this.files[0].size/1024/1024;
      $("#file-submit").click();
    });
  </script>
<% end %>
