<!DOCTYPE html>
<html>
  <head>
    <title>宜康快递查询</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600' rel='stylesheet'>
  </head>

  <body class="dingwrapper">
    <div class="container">
      <div class="row" style="margin:0px;">
        <div class="module">
          <div class="module-head">
            <h3>
              <%= Date.today.try(:strftime, "%Y-%m-%d") %> 宜康快递查询
            </h3>
          </div>
          <div class="module-body table" style="border-bottom: 1px solid #ddd;padding-bottom: 0px;">
            <div>
              <label style="padding:0 15px;">
                <form action="/expresses" accept-charset="UTF-8" method="get">
                  搜索：<input type="text" style="margin-bottom: 0px;" name="search_name" placeholder="输入姓名(全名，例如：刘春良)">
                  <button type="submit" class="btn">搜索</button>
                  <a class="btn" style="float:right;display: none;" href="/expresses/new">录入快递信息</a>
                </form>

              </label>

            </div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>姓名</th>
                  <th>快递类型</th>
                  <th>日期</th>
                </tr>
              </thead>
              <tbody>
                <% @expresses.each do |express| %>
                  <tr>
                    <td><%= express.employee.name %></td>
                    <td><%= express.express_type %></td>
                    <td><%= express.created_at.try(:strftime, "%Y-%m-%d %H:%M:%S") %></td>
                  </tr>
                <% end %>

              </tbody>
            </table>
          </div>
          <%= will_paginate @expresses, renderer: WillPaginate::ActionView::BlogLinkRenderer %>
        </div><!--/.module-->
      </div>
    </div><!--/.container-->
  </body>
</html>

<style type="text/css">
  .dingwrapper {
    background: #eee;
    padding: 30px 0;
  }

</style>

<script>
    $(document).ready(function() {
      $('.datatable-1').dataTable();
      $('.dataTables_paginate').addClass("btn-group datatable-pagination");
      $('.dataTables_paginate > a').wrapInner('<span />');
      $('.dataTables_paginate > a:first-child').append('<i class="icon-chevron-left shaded"></i>');
      $('.dataTables_paginate > a:last-child').append('<i class="icon-chevron-right shaded"></i>');
    } );
  </script>
