<div class="control-group">
  <label class="control-label" for="basicinput">标题</label>
  <div class="controls">
    <%= f.text_field  :name, placeholder: "Type something here...", class: "span8" %>
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="basicinput">开始时间</label>
  <div class="controls">
    <%= f.date_field  :start_date, placeholder: "Type something here...", class: "span8" %>
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="basicinput">结束时间</label>
  <div class="controls">
    <%= f.date_field  :end_date, placeholder: "Type something here...", class: "span8" %>
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="basicinput">收集人</label>
  <div class="controls">
    <% selected = f.object.collecters.split(',') if f.object.collecters.present?  %>
    <%= f.select  :collecters, options_for_select(Employee.all.collect { |e| [ e.name, e.id ] }, :selected => selected), {:placeholder => "Please select"}, {:multiple => true, :class => 'span8 select2'} %>
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="basicinput">描述</label>
  <div class="controls">
    <%= f.text_field  :description, placeholder: "Type something here...", class: "span8" %>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('.select2').select2({tags: true});
  });
</script>
