<% provide :active, "history" %>
<div class="modal fade" id="modal-lg" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Season</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <p>One fine body…</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="document.getElementById('season_form').submit();">Save changes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1><%= t 'menu.all_season' %></h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/golden_idea">Home</a></li>
            <li class="breadcrumb-item active"><%= t 'menu.all_season' %></li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Default box -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          <div class="text-center mt-2 mb-2">
            <% if signed_in? && current_employee.is_golden_idea_admin? %>
              <div class="module-option clearfix">
                  <div class="pull-right">
                    <%= link_to t('new'), new_golden_idea_season_path, class: "btn btn-sm btn-primary", "data-toggle"=>"modal", "data-target"=>"#modal-lg", "data-remote"=>"#{new_golden_idea_season_path}" %>
                  </div>
              </div>
            <% end %>
          </div>
        </h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
            <i class="fas fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
      <div class="card-body p-0">
        <table class="table table-striped projects">
            <thead>
              <tr>
                <th><%= t 'table.title' %></th>
                <th><%= t 'table.begin_time' %></th>
                <th><%= t 'table.end_date' %></th>
                <th><%= t 'table.collector' %></th>
                <th><%= t 'table.description' %></th>
                <th><%= t 'table.idea_count' %></th>
                <% if signed_in? && current_employee.is_golden_idea_admin? %>
                  <th></th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% @seasons.each do |season| %>
                <tr>
                  <td><%= link_to season.name, golden_idea_season_path(season) %></td>
                  <td><%= season.start_date %></td>
                  <td><%= season.end_date %></td>
                  <td>
                    <% if season.collecters.present? %>
                      <% season.collecters.split(',').each do |u_id| %>
                        <% user = Employee.find(u_id) %>
                        <%= link_to user.name, user %>
                      <% end %>
                    <% end %>
                  </td>
                  <td><%= season.description %></td>
                  <td><%= season.ideas.count %></td>
                  <% if signed_in? && current_employee.is_golden_idea_admin? %>
                    <td class="cell-btn align-right">
                      <%= link_to t('edit'), edit_golden_idea_season_path(season), class: "btn btn-sm btn-info","data-toggle"=>"modal", "data-target"=>"#modal-lg", "data-remote"=>"#{edit_golden_idea_season_path(season)}" %>
                      <%= link_to t('delete'), golden_idea_season_path(season), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-sm btn-danger" %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
        </table>
      </div>
      <!-- /.card-body -->
      <div class="card-footer clearfix">
        <%= will_paginate @seasons, renderer: WillPaginate::ActionView::GoldenIdeaLinkRenderer %>
      </div>
    </div>
    <!-- /.card -->

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->


<% content_for :custom_js_css do %>
  <!-- 历史个期 -->
  <script>
   $('#modal-lg').on('hidden.bs.modal', function (e) {
     $(this).find('.modal-body').html('Loading...');
     $(this).removeData('bs.modal');
   }).on('show.bs.modal', function (e) {

     var button = $(e.relatedTarget);
     var modal = $(this);

     modal.find('.modal-body').load(button.data("remote"));
   });
  </script>
<% end %>
