<% provide :active, "history" %>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1><%= t :golden_idea %>-<%=@season.name%></h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/golden_idea">Home</a></li>
            <li class="breadcrumb-item"><a href="/golden_idea/seasons"><%= t 'menu.all_season' %></a></li>
            <li class="breadcrumb-item active"><%= t 'detail' %></li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Default box -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          <div class="text-center mt-2 mb-2">
            <div class="module-option clearfix">
              <div class="pull-right">
                <%= link_to t('back'), golden_idea_seasons_path, class: "btn btn-sm btn-primary" %>
              </div>
            </div>
          </div>
        </h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
            <i class="fas fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
      <div class="card-body p-0">
        <table class="table table-striped projects">
            <thead>
              <tr>
                <th><%= t 'form.category' %></th>
                <th><%= t 'form.title' %></th>
                <th><%= t 'form.proposer' %></th>
                <th><%= t 'form.department' %></th>
                <th><%= t 'form.description' %></th>
                <th><%= t 'form.score' %></th>
              </tr>
            </thead>
            <tbody>
              <% @ideas.each do |idea| %>
                <tr>
                  <td><%= idea.category %></td>
                  <td><%= link_to idea.title, golden_idea_idea_path(idea) %></td>
                  <td>
                    <% if idea.proposers.present? %>
                      <% idea.proposers.split(',').each do |u_id| %>
                        <% user = Employee.find(u_id) %>
                        <%= link_to user.name, user %>
                      <% end %>
                    <% end %>
                  </td>
                  <td><%= idea.department %></td>
                  <td><%= idea.description %></td>
                  <td><%= idea.score %></td>
                </tr>
              <% end %>
            </tbody>
        </table>
      </div>
      <!-- /.card-body -->
      <div class="card-footer clearfix">
      </div>
    </div>
    <!-- /.card -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
