<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Golden Idea | Dashboard</title>

  <%= csrf_meta_tags %>
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <%= stylesheet_link_tag    'golden_idea/application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'golden_idea/application', 'data-turbolinks-track': 'reload' %>

  <!-- 钉钉功能 -->
  <%# TODO: 这里可以再第一次请求钉钉ｉｄ之后不再使用 %>
  <% if !signed_in? %>
    <script src="//g.alicdn.com/dingding/dingtalk-jsapi/2.6.41/dingtalk.open.js"></script>
    <%= javascript_include_tag "library" %>
  <% end %>
  <meta name="wpk-bid" content="dta_1_572002172">
  <script>
    !(function(c,i,e,b){
      var h=i.createElement("script");
      var f=i.getElementsByTagName("script")[0];
      h.type="text/javascript";
      h.crossorigin=true;
      h.onload=function(){
        c[b]||(c[b]=new c.wpkReporter({bid:"dta_1_572002172"}));
        c[b].installAll()
      };
      f.parentNode.insertBefore(h,f);
      h.src=e
    })(window,document,"https://g.alicdn.com/woodpeckerx/jssdk??wpkReporter.js","__wpk");
  </script>

  <!-- 页面中自己编写js与css -->
  <%= yield :include_js_css %>
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

  <%= render 'golden_idea/application/header' %>
  <%= render 'golden_idea/application/left' %>

  <%= yield %>

  <%= render "golden_idea/application/footer" %>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->


<!-- 本期金点子中上传附件 -->
<script>
  $("#upload-file-btn").click(function () {
    $("#upload-file-input").click();
  });
  $("#upload-file-input").on("change", function(){
    var size_in_megabytes = this.files[0].size/1024/1024;
    $("#file-submit").click();
  });
</script>
<% if !signed_in? %>
  <script type="text/javascript">
    $("body").mLoading();
  </script>
<% end %>
<!-- 页面中自己编写js与css -->
<%= yield :custom_js_css %>

</body>
</html>
